<h1><%= @category.game_name %> </h1>
<hr/>
<ul class="list-group">
  <% @category.posts.reverse_each do |post| %>
  <li class="list-group-item d-flex align-items-left">
    <% first_img_name = Nokogiri::HTML(post.content).xpath('//img').first.attr('src').split('/')[-1] %>
    <img src="/uploads/image/image_path/<%=post.id %>/thumb_<%= first_img_name%>" class="thumb" width="120" height="70">&nbsp;
    <%= link_to "#{post.title}", "/board/#{@category.game_name}/#{post.id}" %>&nbsp;
    <p> 작성자: <%= post.user_name %></p>
  </li>
  <% end %>
</ul>
<br/>
<%= link_to "게시판 글쓰기", new_post_path(game_name: @category.game_name), class: "btn btn-primary btn-block" %>
